header
	.header-position
		h1.logo Sander Vrielink
		
		nav.site-nav
			ul
				li: a(href="over") Over mij
				li: a(href="vegan") Vegan
				li: a(href="til") T.I.L.
				li: a(href="Recepten") Recepten
				li: a(href="programming") Programming
				li: a(href="contact") Contact

		a(href="mailto:sander31275@hotmail.com").email-link +email

		.mobile-nav-toggle: span